@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root{
    --titulo: 'Indie Flower', cursive;
    --lista: 'Handlee', cursive; 

    --claro: #deebdd;
    --azulclaro: #9bb2b9;
    --azulescuro: #171870;
    --marrom: #472209;
    --escuro: #130400;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{ /*----------------------------------------------------------- background */
    background-color: var(--claro);
    background-image: url(imagens/mesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
    display: flex;
    flex-direction: column;
}

h1{ /*----------------------------------------------------------- titulo */
    font-family: var(--titulo);
    font-size: 6rem;
    text-shadow: 1px 7px 15px var(--escuro);
    transform: rotate(-30deg);
    width: 500px;
    margin: 50px 5px 20px;
}

@media (max-width: 1470px) { /*----------------------------------------------------------- media para o titulo */
    h1{
        font-size: 4rem;
        transform: rotate(-10deg);
        width: 300px;
        align-self: center;
        margin: 10px 0px 90px;
    }
}

.principal{ /*----------------------------------------------------------- parte clara do site */
    background-image: linear-gradient(to bottom, white,rgb(212, 207, 207));
    width: 900px;
    max-width: 96vw;
    align-self: center;
    border-radius: 3px 3px 5px 3px;
    box-shadow: 0px 0px 15px 1px var(--escuro);
    padding: 10px;
    margin-top: -80px;
}

.supra{ /* ----------------------------------------------------------- parte superior da principal */
    display: flex;
    justify-content: space-between; 
}

@media (max-width: 700px) {
    .supra{
        flex-direction: column;
    }
}

.inst{ /* ----------------------------------------------------------- instruçoes */
    padding: 5px;
    flex-shrink: 0;
    border: 1px dashed var(--azulclaro);
    list-style-position: inside;
}

.inst>ol>li{ /* ----------------------------------------------------------- itens das instruçoes */
    font-family: var(--lista);
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
    color: var(--azulescuro);
    cursor: help;
}

@media (max-width: 700px) { /* ----------------------------------------------------------- media itens das instruçoes */
    
    .inst{
        display: flex;
        margin: 5px 4px;
    }
    .inst>ol>li{
        font-size: 1.2rem;
        margin: 2px 0px;
    }    
}

.formulario{ /* ----------------------------------------------------------- div itens formulário */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
}

#fitem{ /* ----------------------------------------------------------- input item */
    height: 35px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    font-family: var(--lista);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: text;
}

.bot{ /* ----------------------------------------------------------- div dos botoes */
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.botoes{ /* ----------------------------------------------------------- botoes */
    flex-grow: 1;
    height: 35px;
    font-size: 2rem;
    border-radius: 4px;
    cursor: pointer;
}

.add{
    background-color: #23259160;
}

.add:hover{
    background-color: var(--azulescuro);
    color: var(--claro);
}

.del{
    background-color: #6e350f38;
}

.del:hover{
    background-color: var(--marrom);
    color: var(--claro);
}

.imprimir{
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: #8080803d;
    font-weight: bold;
    font-size: 1.2rem;
}

.imprimir:hover{
    background-color: #808080;
    color: var(--claro);
}

hr{ /* ----------------------------------------------------------- linha */
    margin: 20px auto 5px;
    border: .5px solid var(--azulescuro);
    max-width: 800px;
}

h2{ /* ----------------------------------------------------------- h2 lista */
    font-family: var(--titulo);
    font-size: 3rem;
    color: var(--azulescuro);
    transform: rotate(-12deg);
    width: 20px;
    height: 35px;
    margin: 0px 20px 20px;
}

@media (max-width: 1200px) { /* ----------------------------------------------------------- media h2 lista */
    h2{
        margin: 10px 0px;
        font-size: 2.5rem;
    }
}

#nomelista{ /* ----------------------------------------------------------- h3 */
    font-family: var(--titulo);
    text-align: center;
    font-size: 2.5rem;
    color: var(--azulescuro);
    margin-top: -30px;
}

@media (max-width: 700px) {
    #nomelista{
        text-align: end;
        font-size: 2rem;
        margin-bottom: 10px;
    }
}

.resultado{ /* ----------------------------------------------------------- div do resultado */
    min-height: 30vh;
    padding: 5px;
    list-style-position: inside;
}

.resultado>ul>li{ /* ----------------------------------------------------------- itens do resultado */
    font-family: var(--lista);
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--azulescuro);
    list-style-type: decimal;
    word-spacing: 5px;
    border-bottom: 1px solid #6363631a;
}

.resultado>ul>li:hover{
    color: var(--azulclaro);
    font-size: 1.8rem;
    transition: .2s;
    transition-delay: .3s;
    cursor: pointer;
}

@media (max-width: 700px) { /* ----------------------------------------------------------- media dos itens do resultado */
    .resultado>ul>li{
        font-size: 1.3rem;
    }
}

#checkbox{
    display: none;
    
}